<!-- home.html -->
<div class="container home">
<div class="row">
  <figure>
        <a href="#/women"> <img title="Women" src="http://silkrouteamerica.com/imgs/women1.jpg" alt="No Image Women"/>
          <figcaption>
              <h1>Women</h1>
              <p>Fashion clothing for women</p>
          </figcaption>
        </a>
      </figure>
      <figure>
            <a href="#/men">   <img title="men" src="http://silkrouteamerica.com/imgs/men1.jpg" alt="No Image men"/></a>
              <figcaption>
                  <h1>Men</h1>
                  <p>Fashion clothing for men</p>
              </figcaption>
          </figure>
          <figure>
                <a href="#/kids">   <img title="kids" src="http://silkrouteamerica.com/imgs/kids.jpg" alt="No Image kids"/></a>
                  <figcaption>
                      <h1>kids</h1>
                      <p>Fashion clothing for kids</p>
                  </figcaption>
              </figure>
              <figure>
                    <a href="#/accessories">   <img title="men" src="http://silkrouteamerica.com/imgs/accessories.jpg" alt="No Image Accessories"/></a>
                      <figcaption>
                          <h1>Accessories</h1>
                          <p>Fashion Accessories</p>
                      </figcaption>
                  </figure>
                  <figure>
                        <a href="#/clearance">   <img title="men" src="http://silkrouteamerica.com/imgs/clearance.jpg" alt="No Image clearance"/></a>
                          <figcaption>
                              <h1>clearance</h1>
                              <p>great deals</p>
                          </figcaption>
                      </figure>
</div>
</div>
